/* header */
section.topbar {
    background-color: #ffffff;
    width: 100%;
    /* da rimuovere */
    height: 60px;
}
div.logo {
    width: 60px;
}
div.dropdown ul {
    list-style-type: none;
}

/* sidebar */
div.sidebar {
    background-color: #051e34;
    color: #ffffff;
    height: calc(100vh - 60px);
    width: 70px;
    margin: 0 auto;
}
div.control,
div.settings {
    margin: 0 auto;
}

/* main */
div.main_content {
    width: calc(100% - 70px);
}

div.next_class {
    border: 1px solid rgb(189, 182, 182);
    border-radius: 5px;
}

td img {
    width: 24px;
    margin-right: 1rem;
}









/* query */
@media screen and (min-width:992px) {

    div.sidebar {
        background: url(../img/sidebar-bg.png);
        background-color: #051e34;
        width: 140px;
    }
    
    div.main_content {
        width: calc(100% - 140px);
    }
    
}